<!doctype html>
   <html>
     <head>
         <title>Welcome {{ STUDENT_NAME }} to Ansible</title>
     </head>
     <body>
        <p><strong>Hello World, my name is {{ STUDENT_NAME }} &#153;</strong></p>
     </body>
   </html>
